body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    /*background-image: url(../image/backdrop.jpg);*/
    background-repeat: no-repeat;
}

.unOne {
    width: 100%;
    height: 100%;

    background-color: red;
}

.drop {
    width: 100%;
    height: 100%;
    background: #cccccc91;
    z-index: 10;

}

.ns {
    align-self: center;
    margin: auto;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;

    /*font-family: SansSerif;*/
    font-weight: lighter;
    font-size: 4em;
    /*position: ;*/
    /*top: 50%*/
}

.ns-container {
    width: 70%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
}

.n {
    text-align: center;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n:hover {
    background: rgba(64, 64, 64, 0.07);
}

.cl {
    border-left: 1px solid #4e555b;
    border-right: 1px solid #4e555b;
}

.h-text {
    font-weight: bolder;
}

.raffle {
    height: 3em;
    font-weight: bolder;
    width: 50%;
}

.brand {
    font-weight: bolder;
    font-size: 2em;
}

.rv {
    font-weight: bolder;
    font-size: 1em;
}